body {
    font-family: serif;
    background: #eee;
}

.container {
    background: #ffffff;
}

.brand-container {
    margin-top: 20px;
}

.menu-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-menu>li>a, .auth-menu>li>a {
    padding: 1px 13px;
    border-radius: 0px;
    color: #000000;
}

.main-menu>li:not(:last-child), .auth-menu>li:not(:last-child) {
    border-right: 1px solid black;
}

.main-menu>li>a:hover, .auth-menu>li>a:hover, .social-menu>li>a:hover {
    background: transparent;
}

.before-search, .after-search {
    border-right: none !important;
}

.form-search {
    height: 20px;
    padding: 0px 7px;
    border-radius: 15px;
}

.search-btn {
    vertical-align: middle;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .product, .footer {
    padding-right: 15px;
    padding-left: 15px;
}

.section-title {
    padding: 32px 15px;
}

.section-title h1 {
    font-weight: bold;
    font-size: 2em;
}

.product-card {
    padding: 15px 0 15px 0;
    border: 4px solid #C3C3C3;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.product-card__title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.product-card__image {
    overflow: hidden;
}

.categories-content{
    margin: 20px 0;
}
.categories-card {
    padding: 15px 0 15px 0;
    border: 4px solid #C3C3C3;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-bottom: 10px;
}

.categories-card__title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.categories-card__image {
    overflow: hidden;
    width: 100%;
}

.project-content-title{
  font-weight: bold;
  padding:10px 0;
}
.project-card__title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.project-card {
    padding: 15px 0 15px 0;
    border: 4px solid #C3C3C3;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-bottom: 10px;
    width: 200px;
    display: table
}
.project-card .project-img {
  text-align: center;
vertical-align: middle;
}
.important{
  color: red;
}
/* Custom page header */


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}


/* Custom page footer */

.footer {
    padding-top: 20px;
}

.footer-widget-row {
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .carousel-inner {
        height: 500px;
    }
}

@media screen and (max-width:500px) {
    .carousel-inner {
        height: 200px;
    }
}


/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 960px;
    }
}

.container-narrow>hr {
    margin: 30px 0;
}


/* Main banner */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p+h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        /*margin-bottom: 30px;*/
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.footer-divider {
    border: 0;
    height: 1px;
    margin-left: 15px;
    margin-right: 15px;
    /* margin: 15px; */
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.footer-widget-title {
    text-transform: uppercase;
    font-weight: bold;
}

.footer-link {
    padding: 0px;
}

.footer-link>li {
    list-style: none;
}

.footer-link>li>a {
    font-size: 13px;
}

.copyright-container {
    padding: 15px 15px 0 15px;
    color: #fff;
    background: #333;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .product-card__image {
        width: 100%;
    }
    #product-category__container>.col-md-3 {
        padding: 10px 0;
    }
    .product-card {
        padding: 15px 0 15px 0;
        border: 4px solid #C3C3C3;
        border-radius: 0px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .product-card__image {
        width: 100%;
    }
    #product-category__container>.col-md-3 {
        padding: 10px 0;
    }
    .product-card {
        padding: 15px 0 15px 0;
        border: 4px solid #C3C3C3;
        border-radius: 0px;
    }
}
.categories-content-title{
    font-weight: bold;
}
.aside-categories-title{
    font-weight: bold;
    padding: 0 0 20px 0px;
}
.aside-categories-menu{
    padding: 10px 0;
}
.aside-categories-menu > li{
    list-style: none;
}
.aside-categories-menu > li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
